*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1f2937;
    color:white;
    padding:20px 60px;
}

.logo{
    font-size:28px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.nav-links a:hover{
    color:#38bdf8;
}

.hero{
    text-align:center;
    margin-top:80px;
}

#title{
    color:#0f172a;
    font-size:48px;
    margin-bottom:20px;
}

.important{
    color:#555;
    font-size:20px;
    margin-bottom:30px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}
